#footer{
    padding: 100px 0px;
    background: rgba(89, 86, 232, 0.1);
}
.footer_1st{
    padding-right: 67px;
    p{
        padding-top: 15px;
        padding-bottom: 26px;
        width: 280px;
    }
    ul{
        li{
            height: 42px;
            width: 42px;
            background-color: white;
            text-align: center;
            line-height: 40px;
            margin-right: 9px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            &:hover{
                transform: translateY(-10px);
                -webkit-transform: translateY(-10px);
                -moz-transform: translateY(-10px);
                -ms-transform: translateY(-10px);
                -o-transform: translateY(-10px);
}
        }
    }
}
.footer_2nd{
    h5{
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181818;
        text-transform: capitalize;
        padding-bottom: 15px;
    }
    ul{
        li{
            display: block;
            &:hover{
                a{
                    color: #5956E8;
                    transform: translateX(30px);
                    -webkit-transform: translateX(30px);
                    -moz-transform: translateX(30px);
                    -ms-transform: translateX(30px);
                    -o-transform: translateX(30px);
}
            }
            a{
                color: black;
                text-transform: capitalize;
                font-weight: 400;
                font-size: 16px;
                line-height: 35px;
                color: #5D5D5D;
                transition: 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;
}
        }
    }
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #5D5D5D;
    }
}